In [11]:
import networkx as nx
import pandas as pd
from sklearn.model_selection import train_test_split

In [12]:
f = pd.read_csv('PP-Pathways_ppi.csv', header = None)

In [13]:
f

             0       1
0         1394    2778
1         6331   17999
2       122704   54460
3         2597    2911
4         4790   79155
...        ...     ...
342348   10969    4670
342349    6774   55748
342350   23299  399693
342351    9247  337967
342352   23193    7077

[342353 rows x 2 columns]

In [14]:
G = nx.from_pandas_edgelist(f,  0,  1)

In [15]:
sub, _ = train_test_split(f, random_state = 0, train_size = 0.05)

In [16]:
sub

             0      1
238004   25959  63978
3227      7316  23352
137821    3567   3567
174346    5594   8335
328207    2580  64397
...        ...    ...
122579    7417  55967
304137  286077  23623
152315   58477   7444
117952    5795  63978
305711   10075   8607

[17117 rows x 2 columns]

In [17]:
train, test = train_test_split(sub, random_state = 0, train_size = 0.8, test_size = 0.2)

In [18]:
temp = test.values.tolist()
testset = []
for each in temp:
    if each[0] != each[1]:
        testset.append(each)

In [19]:
S = nx.from_pandas_edgelist(sub,  0,  1)
for each in testset:
    S.remove_edge(each[0], each[1])

In [ ]:
preds = nx.common_neighbor_centrality(S, testset)

In [ ]:
predicted = []

In [ ]:
for u, v, p in preds:
    if p > 0:
        predicted.append((u,v,p))

In [ ]:
predicted

In [ ]:
def AUC(G, prediction, n = 100):
    notedges = []
    while(len(notedges) < n):
        node1 = random.choice(list(G.nodes), random_state = 256)
        node2 = random.choice(list(G.nodes), random_state = 256)
        if not node1 == node2:
            if ((node1, node2) not in list(G.edges)):
                notedges.append((node1, node2))
            elif ((node2, node1) not in list(G.edges)):
                notedges.append((node2, node1))
    preds = nx.common_neighbor_centrality(G, notedges)
    predicted = []
    for u, v, p in preds:
        if p > 0:
            predicted.append((u,v,p))
    n1 = 0
    n2 = 0
    for each in predicted:
        temp = random.choice(prediction)
        if temp[2] > each[2]:
            n1 += 1
        elif temp[2] == each[2]:
            n2 += 2
    auc = (n1 + 0.5*n2)/n
    return auc

In [ ]:
auc = AUC(G, predicted)